body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #4c4c6d !important;
}

.App {
  padding-bottom: 20px;
  margin-top: 20px !important;
  background-color: #b8dfd8;
  color: #4c4c6d !important;
  text-align: center;
}

.navbar {
  text-align: center;
}

.moviecard {
  margin-bottom: 10px;
  background-color: #e8f6ef !important;
}
.moviename {
  padding: 10px 10px 0 10px;
}

.deletebutton {
  margin: 28px 16px 10px 10px;
}

.empty {
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .cardTile {
    text-align: start;
  }
}
